<div class="header-container">
    <mat-toolbar class="header">
        <button 
            class="logo" 
            aria-label="logo" 
            (click)="changePage(PageType.HOME)">
            <!-- TODO : Change to a logo img  -->
            TIMLAI
        </button>
        <span class="spacer"></span>
        <div *ngFor="let button of navButtonGroup">
            <button
                mat-button 
                class="{{button.class}}" 
                [attr.aria-label]="'Switch to' + button.buttonText"
                [ngStyle]="{'text-decoration': (currentPage === button.buttonText) ? 'underline' : 'none'}"
                (click)="changePage(button.buttonText)">
                {{button.buttonText}}
            </button>
            <div class="vertical-gutter-extra-small"></div>
        </div>
        <!-- TODO: add function to dark theme -->
        <button
            mat-button 
            class="header-button"
            aria-label="Switch between light and dark mode"
            (click)="changeTheme()">
            <mat-icon aria-hidden="false" [color]="darkTheme ? 'accent' : null">dark_mode</mat-icon>
        </button>
    </mat-toolbar>
</div>