<div class="header-container">
    <mat-toolbar class="header">
        <div class="vertical-gutter-small"></div>
        <button 
            class="logo" 
            aria-label="logo" 
            (click)="changePage(PageType.HOME)">
            <!-- TODO : Change to a logo img  -->
            TIMLAI
        </button>
        <span class="spacer"></span>
        <button 
            mat-flat-button 
            class="type-body-1" 
            aria-label="Switch to Design page" 
            [ngStyle]="{'text-decoration': (currentPage === PageType.DESIGN) ? 'underline' : 'none'}"
            (click)="changePage(PageType.DESIGN)">
            Design
        </button>
        <div class="vertical-gutter-extra-small"></div>
        <button 
            mat-flat-button 
            class="type-body-1"
            aria-label="Switch to About page"
            [ngStyle]="{'text-decoration': (currentPage === PageType.ABOUT) ? 'underline' : 'none'}"
            (click)="changePage(PageType.ABOUT)">
            About
        </button>
        <div class="vertical-gutter-extra-small"></div>
        <!-- TODO: add function to dark theme -->
        <button
            mat-flat-button 
            aria-label="Switch between light and dark mode"
            (click)="changeTheme()">
            <mat-icon aria-hidden="false" [color]="darkTheme ? 'accent' : null">dark_mode</mat-icon>
        </button>
        <div class="vertical-gutter-small"></div>
    </mat-toolbar>
</div>