.logo {
  font-size: 3rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer
}

.spacer {
  flex: 1 1 auto;
}

// .header-container {
//   padding: 3rem 0;
// }

.header {
  background-color:transparent
}

.mat-flat-button {
  transition: transform .2s;
}

.mat-flat-button:hover {
  transform: scale(1.2);
}