.logo {
  font-size: 3rem;
  border: none;
  background: none;
  cursor: pointer
}

.header {
  background-color:transparent;
  padding: 0;
}

.header-button {
  transition: transform .2s;
}

.header-button:hover {
  transform: scale(1.2);
}