<mat-toolbar class="header">
    <div class="vertical-gutter-small"></div>
    <!-- TODO : Change to a logo img  -->
    <span class="logo">TIMLAI</span>
    <span class="spacer"></span>
    <!-- TODO : onClick function -->
    <button mat-button class="type-body-2" aria-label="Switch to Design page">
        Design
    </button>
    <div class="vertical-gutter-extra-small"></div>
    <!-- TODO : onClick function -->
    <button mat-button class="type-body-2"aria-label="Switch to About page">
        About
    </button>
    <div class="vertical-gutter-small"></div>
</mat-toolbar>