/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
  }

.type-body-1 {
    font-size: 1rem;
    letter-spacing: 0.3px;
    line-height: 1.6rem;
}

.type-body-2 {
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    line-height: 2rem;
}

.type-body-3 {
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    line-height: 2.4rem;
}

.horizontal-gutter-large {
    width: 100%;
    height: 4.8rem;
}

.horizontal-gutter-medium {
    width: 100%;
    height: 3.2rem;
}

.horizontal-gutter-small {
    width: 100%;
    height: 2.4rem;
}

.horizontal-gutter-extra-small {
    width: 100%;
    height: 1.6rem;
}

.horizontal-gutter-extra-extra-small {
    width: 100%;
    height: 0.8rem;
}

.vertical-gutter-small {
    display: inline-block;
    min-height: 1px;
    width: 2.4rem;
}

.vertical-gutter-medium-small {
    display: inline-block;
    min-height: 1px;
    width: 1.6rem;
}

.vertical-gutter-extra-small {
    display: inline-block;
    min-height: 1px;
    width: 0.8rem;
}

.vertical-gutter-extra-extra-small {
    display: inline-block;
    min-height: 1px;
    width: 0.4rem;
}